.edit-hunt-card {
  width: 500px;
  height: 300px;
  padding: 20px;
}

.edit-hunt-title {
  color: black;
  margin-bottom: 20px;
}

mat-error {
  color: #ff0000;
  background-color: #ffffff;
}

.submit-button {
  margin-top: 30px;
  width: 50%;
}

.description-box {
  width: 50%;
}

.time-box {
  width: 50%;
}

.name-box {
  width: 50%
}
