<!-- client/src/app/edit-hunt-dialog/edit-hunt-dialog.component.html -->
<h1 mat-dialog-title style="margin: 5%;">Edit Hunt</h1>
<div mat-dialog-content>
  <p style="margin: 5%;">Edit your hunt here...</p>
  <!-- Add your form for editing the hunt here -->
  <form style="width: max-content;">
    <label for="fname" style="margin: 5%;">Title:</label><br>
    <input type="text" id="fname" name="fname" style="margin: 5%;"><br><br>
    <label for="lname" style="margin: 5%;">Description:</label><br>
    <input type="text" id="lname" name="lname" style="margin: 5%;"><br><br>
    <label for="etime" style="margin: 5%;">Estimated Time:</label><br>
    <input type="text" id="etime" name="etime" style="margin: 5%;"><br><br>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button (click)="onNoClick()">Change</button>
</div>
