.add-team-title {
  font-size: 1.5rem;
  padding-bottom: 10px;
  padding: 5px;
}

.add-team-card {
  background-color: white;
  @media (prefers-color-scheme: dark) {
    background-color: white;
  }



  mat-form-field .mat-input-element {
    background-color: white;
    @media (prefers-color-scheme: dark) {
      background-color: white;
    }
  }

  .mat-form-field-underline {
    background-color: white;
    @media (prefers-color-scheme: dark) {
      background-color: white;
    }
  }

  .mat-form-field-label {
    color: black;
  }

  .mat-form-field-ripple {
    background-color: black;
  }
}

.create-team-card {
  background-color: white;
  @media (prefers-color-scheme: dark) {
    background-color: white;
  }



  mat-form-field .mat-input-element {
    background-color: white;
    @media (prefers-color-scheme: dark) {
      background-color: white;
    }
  }

  .mat-form-field-underline {
    background-color: white;
    @media (prefers-color-scheme: dark) {
      background-color: white;
    }
  }

  .mat-form-field-label {
    color: black;
  }

  .mat-form-field-ripple {
    background-color: black;
  }
}

::ng-deep .submit-button {
  align-items: center;
  position: relative;
  // min-width:280px;
  width: 15%;
  margin: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 2px 0 rgb(0, 112, 250);
  background-color: #badffd2d;
  color: #0056b3 !important;
  @media (prefers-color-scheme: dark) {
    color: #0056b3 !important;
  }
}

::ng-deep .submit-button:hover {
  background-color: #84e6ff !important;
  @media (prefers-color-scheme: dark) {
    background-color: #84e6ff !important;
  }
}

::ng-deep .cancel-button {
  align-items: center;
  position: relative;
  // min-width:280px;
  width: 15%;
  margin: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 2px 0 rgb(0, 112, 250);
  background-color: #ff8484;
  color: #b30000 !important;
  @media (prefers-color-scheme: dark) {
    color: #b30000 !important;
  }
}

::ng-deep .submit-button:disabled {
  color: gray !important;
  @media (prefers-color-scheme: dark) {
    color: gray !important;
  }
}
